.footer{
    background: #1b2a4e;
    min-height: 100px;
    p{
        color: $colorprimario;
        text-align: center;
    }
}
#icono i{
    font-size: 26px;
    padding: 0 8px;
    color: $colorprimario
}